{# dichiaro che questo file estendera il file madre #}
{% extends 'base.html.twig' %}

{# richiamo i blocco di codice per estendere il file madre #}
{% block body %}

	{% if variabili|length > 0  %}
		{% for variabile in variabili %}
			<div>
				<h2>{{variabile}}</h2>
			</div>
		{% endfor %}
	{% else %}
		<h2>Non ci sono saluti</h2>
	{% endif %}


{% endblock %}


{% block title %}Ho cambiato il titolo
{% endblock %}
